<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ddubuck">
    <!-- 인터넷 연결 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".login.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DDUBUCK"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name=".ui.mypage.mywalk.MyWalkActivity">
        </activity>
        <activity android:name=".ui.home.option.SelectOptionActivity">
        </activity>
<!--        <activity android:name=".ui.mypage.mpandroidchart.BarChartActivity"></activity>-->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DDUBUCK">

        </activity>
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity android:name=".SecondActivity" />

        <activity android:name=".ui.share.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userinfo.UserInfoBirthdayActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".userinfo.UserInfoHeightWeightActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao77629a2e99409577163d7742096517e9" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="lz0an3yhfn" />
    </application>

</manifest>